<!DOCTYPE html>
<html>
	<head>
		<title>login page</title>

		<link rel="stylesheet" href="../static/log_style.css">


		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

	
<!-- Icon -->
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="image_outer_container">
			<div class="green_icon"></div>
			<div class="image_inner_container">
				<img src="https://i.pinimg.com/originals/43/96/61/439661dcc0d410d476d6d421b1812540.jpg">
			</div>
		</div>
	</div>
</div>

 <!-- <div class="fadeIn first">

      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>-->  

    <!-- Login Form -->
    <form action="/login" method="POST">
	  <input type="email" id="email" class="fadeIn second" name="username" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div action="/register" id="formFooter">
	  <a class="underlineHover" href="#">Forgot Password?</a>
	  <label for="">new here?</label>
	  <a href="register"><input type="submit" class="fadeIn fourth" value="Register"></a>
	  
    </div>

  </div>
</div>
	</body>
</html>
